<div class="panel panel-default form-login">
  <h1>Tabbit</h1>
  <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
  <form class="form" ng-submit="vm.logIn()">
    <div class="form-group">
      <label for="input-username">Username</label>
      <input type="text" class="form-control" id="input-username" name="username" ng-model="vm.loginForm.username" required autofocus>
    </div>
    <div class="form-group">
      <label for="input-password">Password</label>
      <input type="password" class="form-control" id="input-password" name="password" ng-model="vm.loginForm.password" required>
    </div>
    <div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="vm.disabled">Log in</button>
    </div>
  </form>

  <a type="button" class="btn btn-register btn-lg btn-link btn-block" href="/#/register">Register</a>

</div>