<!-- Add/edit tab modal -->
<form class="form" ng-submit="vm.confirm()">
  <div class="modal-header">
    <h4 class="modal-title">{{ ::vm.modalContents.title }}</h4>
  </div>
  <div class="modal-body drop-box" ngf-drop="vm.upload($file)" ngf-max-size="30MB">
    <!-- Song -->
    <div class="form-group">
      <label for="input-song">Song</label>
      <input type="text" class="form-control" id="input-song" name="song" ng-model="vm.tab.songName" required autofocus>
    </div>

    <!-- Artist -->
    <div class="form-group">
      <label for="input-artist">Artist</label>
      <input type="text" class="form-control" id="input-artist" name="artist" ng-model="vm.tab.artistName">
    </div>

    <!-- Source file/link -->
    <div class="form-group">
      <label for="input-source">Tab file or link</label>
      <div class="input-group">
        <span class="input-group-btn">
          <!-- Upload file button -->
          <button class="btn btn-default" type="button" ngf-select="vm.upload($file)" ngf-max-size="30MB">
            <i class="fa fa-lg fa-paperclip"></i>
          </button>
        </span>
        <input type="text" class="form-control" id="input-source" name="source"
               placeholder="Upload a PDF or enter a link (max file size: 30MB)"
               ng-model="vm.tab.source">
      </div>
      <!-- Upload progress bar -->
      <div ng-if="vm.uploadProgress">
        <uib-progressbar value="vm.uploadProgress" type="{{ vm.uploadStatus }}">
          <b>{{ vm.uploadProgress }}%</b>
        </uib-progressbar>
      </div>
    </div>

    <div class="row">
      <!-- Progress -->
      <div class="form-group col-xs-7">
        <label for="input-progress">Progress</label>
        <select class="form-control" id="input-progress" name="progress" required
                ng-model="vm.selectedProgress"
                ng-options="progress as progress.name for progress in vm.tabProgresses track by progress.id">
        </select>
      </div>

      <!-- Type -->
      <div class="form-group col-xs-5">
        <label for="input-type">Type</label>
        <select class="form-control" id="input-type" name="type" required
                ng-model="vm.selectedType"
                ng-options="type as type.name for type in vm.tabTypes track by type.id">
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="vm.isConfirmDisabled()">{{ ::vm.modalContents.confirmText }}</button>
  </div>
</form>
