<!-- List Detail page -->
<div class="list-container">
  <!-- Page header -->
  <div class="row">
    <div class="col-xs-7 col-sm-5">
      <h3 ng-bind="vm.list.name"></h3>
      <p ng-bind="vm.getListInfo()"></p>
    </div>
    <div class="col-xs-5 col-sm-7">
      <div class="pull-right" ng-if="vm.isAuthorizedToModify()">
        <button type="button" class="btn btn-primary btn-add-song" ng-click="vm.createTabModal()">Add Song</button>
      </div>
    </div>
  </div>
  <hr>
  <!-- Tab list -->
  <div class="row">
    <div class="col-xs-12">
      <div ng-repeat="(progressId, tabs) in vm.tabs | groupBy: 'progressId'">
        <h4 ng-bind="vm.tabProgresses[progressId - 1].name"></h4>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-4">Song</th>
            <th class="col-xs-4">Artist</th>
            <th class="col-xs-2">Type</th>
            <th class="col-xs-1"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="tab in tabs | orderBy: 'songName' track by tab.id">
            <td>
              <!-- Only display play icon if the tab has a source -->
              <a href="" ng-click="vm.openTabSource(tab.source)"><i class="fa fa-external-link" ng-if="!!tab.source"></i></a>
            </td>
            <td ng-bind="tab.songName"></td>
            <td ng-bind="tab.artistName"></td>
            <td ng-bind="vm.tabTypes[tab.typeId - 1].name"></td>
            <td>
              <!-- Tab overflow dropdown -->
              <div class="dropdown pull-right" ng-if="vm.isAuthorizedToModify()">
                <a href="" data-toggle="dropdown">
                  <i class="fa fa-ellipsis-h"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-click="vm.editTabModal(tab)"><a>Edit</a></li>
                  <li ng-click="vm.deleteTabModal(tab)"><a>Delete</a></li>
                </ul>
              </div><!-- /.dropdown -->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /.list-container -->